/* Header styling */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E7A96;
    color: var(--H1H2_color);
    font-family: var(--H1_font);
    border-radius: 5px;
    height: 100px;
}

header a {
    color: var(--H1H2_color);
    text-decoration: none;  
}

.logo{
    max-height: 60px;
    width: auto;
}

/* Drop down menu styling */
.dropbtn{
    background-color: #2E7A96;
    color: var(--H1H2_color);
    font-family: var(--H1_font);
    font-size: 30px;
    border: none;
    display: flex;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: var(--tekst_color);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown_content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {background-color: #8C8B55;}

.dropdown:hover .dropdown_content {display: block;}

/* Drop down menu 2 styling */

.dropdown_content_2 a:hover {background-color: #8C8B55;}

.dropdown:hover .dropdown_content_2 {display: block;}

.dropdown_content_2{
    display: none;
    position: absolute;
    background-color: var(--tekst_color);
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown_content_2 a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Tekst styling */
h1{
    font-family: var(--H1_font);
    color: var(--tekst_color);
    font-size: 60px;
    margin-top: 40px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

p{
    font-family: var(--p_font);
    font-size: 20px;
    margin-top: 20px;
    margin-right: 7px;
    margin-left: 7px;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 20px;
}

h3{
    font-family: var(--H1_font);
    font-size: 30px; 
    margin-left: 10px;
}

.CV_tekst{
    font-family: var(--H2_font);
    font-size: 21px;
    margin-bottom: -20px;
    margin-top: 30px;
    text-align: center;
}

img{
    max-height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

footer{
    background-color: #9A2C2F;
    color: var(--H1H2_color);
    font-family: var(--H2_font);
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

.footer_tekst{
    background-color: #9A2C2F;
    color: var(--H1H2_color);
    font-family: var(--H2_font);
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

.link_tekst{
    color: var(--p_color);
    font-size: 16px;
}

.Tema_img{
    max-height: 220px;
    width: auto;
    margin-top: -20px;
}

.Tema_img_1{
    max-height: 200px;
    width: auto;
    margin-top: -20px;
}

h2{
    font-family: var(--H2_font);
    margin-left: 5px;
    text-decoration: underline;
    margin-bottom: -20px;
    margin-top: 30px;
}

.brødtekst{
    font-family: var(--p_font);
    text-align: left; 
}

.youtube_video{
   margin-left: 7px;
}

/* Web style */

@media (width > 700px){
    .logo{
        max-height: 70px;
        width: auto;  
    }

    .dropbtn{
        font-size: 40px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    .forside_img{
        max-height: 400px;
        width: auto;  
        margin-right: 100px;
    }


    .text-container{
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 120px;
        font-size: 30px;
    }

    h1{
        font-size: 120px;
        margin-top: 100px;
    }

    /* Til tema 1 */
    .img-container{
        grid-column: 2;
        margin-top: 200px;
    }

    .img-container img{
        max-height: 300px;
        width: auto;
    }

    .text-content_1{
        grid-column: 1;
        margin-top: -600px;
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Til tema 2 */
    .text-content_2{
        grid-column: 1;
        margin-top: -804px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .img-container-2{
        grid-column: 2;
        margin-top: 100px;
    }

    .img-container-2 img{
        max-height: 300px;
        width: auto;
    }

    /* Til tema 3 */
    .text-content_3{
        grid-column: 1;
        margin-top: -1292px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .img-container-3{
        grid-column: 2;
        margin-top: 100px;
    }

    .img-container-3 img{
        max-height: 270px;
        width: auto;
    }

    /* Til tema 4 */
    .text-content_4{
        grid-column: 1;
        margin-top: -784px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .img-container-4{
        grid-column: 2;
        margin-top: 100px;
    }

    .img-container-4 img{
        max-height: 290px;
        width: auto;
    }

    /* Til tema 5 */
    .text-content_5{
        grid-column: 1;
        margin-top: -1460px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .img-container-5{
        grid-column: 2;
        margin-top: 100px;
    }

    .img-container-5 img{
        max-height: 300px;
        width: auto;
    }

    h2{
        font-size: 40px;
        margin-bottom: -20px;
        margin-top: 30px;
        text-decoration: underline;
    }

    .youtube_video{
        margin-left: 70px;
     }

    /* Om mig styling */
    .ommig{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    .ommig_container1{
        grid-column: 1;
        margin-top: -100px;
    }

    .ommig_container1 img{
        max-height: 400px;
        width: auto;
    }

    .ommig_container2{
        grid-column: 2;
        margin-top: 200px;
        margin-right: 100px;
        margin-left: 50px;
    }

    /* CV styling */
    .CV-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    .CV-container-1{
        grid-column: 1;
        margin-right: 50px;
        margin-left: 50px;
    }

    .CV-container-2{
        grid-column: 2;
        margin-right: 50px;
        margin-left: 50px;
    }

     .dropbtn{
        font-size: 40px;
    }
    
    .dropdown_content, .dropdown_content_2{
        font-size: 25px;
    }

}

/* Valideret */
